# รหัสนักศึกษา-ชื่อ-นามสกุล

พิมพ์ codes ใน cell แต่ละข้อตามคำสั่งของโจทย์ **ไม่ต้องลบโจทย์**

In [4]:
import sys
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [1]:
#1. สร้างตัวแปร list ชื่อ animals เพื่อเก็บข้อมูลสัตว์ได้แก่ horse, monkey, cat, dog, tiger, lion, elephant และพิมพ์ออกมา
animals =["horse","monkey","cat","dog","tiger","lion","elephant"]
print(animals)

('horse', 'monkey', 'cat', 'dog', 'tiger', 'lion', 'elephant')

In [2]:
#2.พิมพ์ขนาดของ List ที่สร้างจากข้อ 1
print(len(animals))

7

In [12]:
#3. เพิ่มข้อมูล rabbit เข้าไปต่อท้ายใน list ของข้อที่ 1 และพิมพ์ออกมา
animals.insert(7,"rabbit")  #ตำแหน่งขึ้นก่อน แล้วตามด้วย rabbit
print(animals)

['horse', 'monkey', 'cat', 'dog', 'tiger', 'lion', 'elephant', 'rabbit']

In [6]:
#4.แสดงข้อมูล tiger และ lion ออกมา
print(animals[4:6])

('tiger', 'lion')

In [9]:
#5. สร้างตัวแปร tuple ชื่อ country ของชื่อประเทศได้แก่ Malaysia, China, Lao, France, Canada, India และพิมพ์ออกมา
#พร้อมทั้งแสดง type ของตัวแปร tuple ดังกล่าว
country = ("Malaysia" ,"China","Lao" ,"France" , "Canada" , "Indai")
print(country, type(country))

('Malaysia', 'China', 'Lao', 'France', 'Canada', 'Indai') <class 'tuple'>

In [18]:
#6. เพิ่ม Poland เข้าไปใน tuple ที่สร้างในข้อ 5 และพิมพ์ออกมมา
newcountry = list(country)
newcountry.insert(6,"Poland")
print(newcountry)

country = tuple(newcountry)
print(country)

['Malaysia', 'China', 'Lao', 'France', 'Canada', 'Indai', 'Poland', 'Poland', 'Poland']
('Malaysia', 'China', 'Lao', 'France', 'Canada', 'Indai', 'Poland', 'Poland', 'Poland')

In [19]:
#7. สร้างตัวแปรประเภท dictionary ชื่อ car ที่มีปีทีผลิตและชื่อรถยนต์ และพิมพ์ข้อมูลออกมา โดยมีข้อมูลดังนี้
#2001, 2011, 2020 เป็นคีย์ มีค่าที่คู่กันคือ "Toyota", "BMW", Volvo ตามลำดับ 
car = {"2001":"Toyota" , "2011": "BMW" , "2020":"Volvo"}
print(car)

{'2001': 'Toyota', '2011': 'BMW', '2020': 'Volvo'}

In [22]:
#8.จากข้อ 7 ใช้ function pop เพื่อลบ BMW ออก 
# พิมพ์สมาชิกออกมาหลังจากลบข้อมูลออกไปแล้ว
car.pop("2011")
print(car)

{'2001': 'Toyota', '2020': 'Volvo'}

In [31]:
#9.จากข้อ 7 เปลี่ยนรถยนต์ Toyota เป็น Honda พิมพ์ออกมา
car["2001"] = "Honda"
print(car)

{'2001': 'Honda', '2020': 'Volvo'}

In [32]:
#10. เพิ่มข้อมูลในตัวแปร car ปี 2015 รถยนต์ Mazda พิมพ์ข้อมูลออกมา
car["2015"] = "Mazda"
print(car)

{'2001': 'Honda', '2020': 'Volvo', '2015': 'Mazda'}

In [55]:
#11. กำหนดข้อความเป็นดังนี้ Life Is Not So Easy.ให้พิมพ์คำว่า Is Not จากข้อความที่กำหนดมาให้ โดยใช้หลักการ slicing
string = "Life Is Not So Easy."
print (string[5:11])

Is Not

In [56]:
#12. จากข้อ 11. เพิ่มคำว่า right? ท้ายจข้อความให้เป็น Life Is Not So Easy, Right?
string += "Right?"
print(string)

Life Is Not So Easy.Right?

In [43]:
#13. สร้างตัวแปรที่เป็น set ซึ่งมีสมาชิก  “apple”, “banana”, “mango”, and “orange”.
set = {"apple","banana","mango","orange"}
print(set)

{'apple', 'mango', 'orange', 'banana'}

In [50]:
#14. สร้างตัวแปร set ชุดที่่1 ที่มีสมาชิก {10, 20, 30, 40, 50} และตัวแปร set ชุดที่ 2 ที่มีสมาชิก {30, 40, 50, 60, 70}
#เชียน python code เพื่อนำข้อมูลสมาชิกของ set ชุดที่ 1 และชุดที่ 2 
#มาใช้เพื่อให้สมาชิกใน set ที่ประกอบไปด้วย {70, 40, 10, 50, 20, 60, 30}
# Hints : ข้อนี้ให้ใช้ union buit-in function
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
newset = set1.union(set2)
print(newset)

{70, 40, 10, 50, 20, 60, 30}

In [59]:
#15. จากคำตอบข้อ 14. เรียงข้อมูลจากมากไปน้อย  และแสดง data type ของข้อมูลที่เรียงจากมากไปน้อยดังกล่าว
newwset = sorted(newset)
print(newwset)
newwset = sorted(newset,reverse = True)
print(newwset , type(newwset))

[10, 20, 30, 40, 50, 60, 70]
[70, 60, 50, 40, 30, 20, 10] <class 'list'>